<div
  class="announcement__banner"
  aria-label="{{ 'sections.header.announcement' | t }}"
  style="background-color: {{ section.settings.background_color }}"
>
  {%- for block in section.blocks -%}
    {%- if block.settings.text != blank -%}
      <p style="color: {{ block.settings.announcement_text_color }}">
        {{ block.settings.text | escape }}
        {%- if block.settings.link != blank -%}
          <span>
            <a href="{{ block.settings.link }}">SHOP NOW</a>
          </span>
        {%- endif -%}
      </p>
    {%- endif -%}
  {%- endfor -%}
  <div class="close_btn__announcement__banner" style="cursor: pointer;"><i class="fa fa-close"></i></div>
</div>

{% schema %}
{
  "name": "Announcement Banner",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#d6d2c4"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Announcement text",
          "default": "Welcome to our store!"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link (optional)"
        },
        {
          "type": "color",
          "id": "announcement_text_color",
          "label": "Text color",
          "default": "#212322"
        }
      ]
    }
  ],
  "max_blocks": 1,
  "presets": [
    {
      "name": "Announcement Banner",
      "category": "Custom",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "text": "Free shipping on orders over $50",
            "link": "",
            "announcement_text_color": "#212322"
          }
        }
      ]
    }
  ]
}
{% endschema %}
